@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 25px;
}

h2 {
  font-weight: 500;
  font-size: 20px;
  margin-top: 15px;
}

table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  min-width: 600px;
  margin-top: 15px;
}

th,
td {
  text-align: left;
  border: 1px solid #ccc;
  padding: 8px 14px;
}

td div {
  display: flex;
  align-items: center;
  gap: 5px;
}

button {
  padding: 5px 16px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
}

form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 3px;
  outline: 0px;
}

.controlls {
  display: flex;
  align-items: center;
  gap: 10px;
}
