@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #f4f4f9;
}
a {
  color: inherit;
  text-decoration: none;
}
/* navbar */
nav {
  background: linear-gradient(to right, #3b82f6, #6366f1);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  gap: 30px;
}
.nav-links a {
  color: #ffff;
  transition: 0.5s;
}

.nav-links a:hover {
  font-weight: 400;
  text-decoration: underline;
}
.nav-links button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.nav-links button:hover {
  font-weight: 400;
  text-decoration: underline;
}
/* Rsgister Form */

.form-container {
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.form-card {
  background-color: #ffff;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.form-title,
.profile-title,
.dashboard-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #3b82f6;
  text-align: center;
  margin-bottom: 1.5rem;
}

.error {
  color: #dc2626;
  text-align: center;
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

.form-input:focus {
  outline: none;
  border-color: #3b82fb;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.form-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #3b82f6;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #2563eb;
}

.form-group a {
  color: #3b82f6;
  font-weight: 400;
}

.form-group a:hover {
  text-decoration: underline;
}
/* Profile */
.profile-container {
  min-height: calc(100vh - 60px);
  padding: 2rem;
}

.profile-card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-info p {
  font-size: 1rem;
  color: #1f2937;
}

.profile-info img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

/* Dashboard */

.dashboard-container {
  min-height: 100vh;
  padding: 2rem;
  max-width: 1200px;
  margin: 0px auto;
}
.dashboard-title {
  text-align: left;
}

.note-input-container {
  margin-bottom: 1.5rem;
}

.note-textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  font-size: 1rem;
  resize: vertical;
}

.note-textarea:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

.notes-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.note-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-text {
  color: #374151;
  margin-bottom: 0.5rem;
  line-height: 25px;
}

.note-date {
  color: #6b7280;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}
.note-actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.edit-button,
.delete-button {
  padding: 0.5rem 1rem;
  background-color: #f59e0b;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.edit-button:hover {
  background-color: #d97706;
}

.delete-button {
  background-color: #dc2626;
}
.delete-button:hover {
  background-color: #b91c1c;
}

.btn {
  width: 150px;
  margin: 5px auto;
}

.username {
  color: #fff;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
}
